body {
  background-color: white;

  .employee-info-box {
    height: 10vh;
    width: 40vw;
    border-radius: 10px;
    margin-top: 1vh;
    margin-left: 2.4vw;
    background-color: red;
    position: absolute;
  }

  .emp-tasks-sections {
    display: flex;

    .emp-section {
      margin-top: 7vh;
      height: 80vh;
      background-color: #8ed6ff;
      width: 45vw;
      margin-left: 2vw;
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    .tasks-section {
      margin-top: 7vh;
      height: 80vh;
      background-color: #8ed6ff;
      width: 45vw;
      margin-left: 5vw;
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    .emp-tasks-section-box {
      margin-top: 1vh;
      height: 68.5vh;
      background-color: #d5eeff;
      width: 43vw;
      margin-left: 1vw;
      border-radius: 10px;
      padding-top: 1vh;

      .task-list {
        background-color: white;
        margin-top: 1vh;
        width: 40.4vw;
        border-radius: 10px;
        margin-left: 0.8vw;
        height: 30vh;
        padding-left: 1vw;

        .edit-task {
          width: 6vw;
          background-color: #53a8b6;
          margin-right: 1vh;
        }

        .delete-task {
          width: 6vw;
          margin-right: 1vw;
          background-color: #f95959;
        }

        .add-employee {
          margin-left: 6.5vw;
          width: 13vw;
          background-color: #38598b;
          margin-right: 1vh;
        }
      }

      .emp-list {
        background-color: white;
        margin-top: 1vh;
        width: 40.4vw;
        border-radius: 10px;
        margin-left: 0.8vw;
        height: 35vh;
        padding-left: 1vw;

        .emp-p-div {
          width: 18vw;
        }

        .edit-emp {
          width: 6vw;
          background-color: #53a8b6;
          margin-right: 1vh;
        }

        .delete-employee {
          width: 6vw;
          margin-right: 1vw;
          background-color: #f95959;
        }

        .employee-tasks {
          margin-left: 6.5vw;
          width: 13vw;
          background-color: #38598b;
          margin-right: 1vh;
        }
      }
    }
    .employees-tasks-title-div {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      background-color: #38598b;
      width: 18vw;
      height: 6.5vh;
      border-radius: 8px;
      margin-top: 1vh;
      margin-left: 13vw;
      text-align: center;
      padding-top: 1vh;
      color: white;
    }
  }

  .alert-div {
    margin-top: 2vh;
    width: 60vw;
    margin-left: 20vw;
  }

  .create-employee {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: 5vh;
    width: 23vw;
    background-color: #38598b;
    margin-right: 1vw;
    margin-left: 45vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .create-employee-link {
    color: white;
    text-decoration: none;
  }

  .create-task {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: 5vh;
    width: 15vw;
    background-color: #38598b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .home-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: 5vh;
    width: 10vw;
    margin-left: 1vh;
    background-color: #38598b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .create-emp-card-box {
    margin-top: 3vh;
    height: 81vh;
    background-color: #4f81c7;
    width: 30vw;
    margin-left: 35vw;
    border-radius: 10px;
    position: absolute;

    .full-name-p {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 1vh;
      margin-left: 1vw;
      font-size: 1.1rem;
    }

    .emp-input-p {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 1vw;
      font-size: 1.1rem;
    }

    .birth-date {
      margin-left: 1vw;
      border-radius: 5px;
      background-color: #e6f0f1;
      width: 28vw;
      text-decoration: none;
    }

    .email {
      margin-left: 1vw;
      border-radius: 5px;
      text-decoration: none;
    }

    .full-name {
      margin-left: 1vw;
      border-radius: 5px;
    }

    .phone-number {
      margin-left: 1vw;
      border-radius: 5px;
      text-decoration: none;
    }

    .salary {
      margin-left: 1vw;
      border-radius: 5px;
      text-decoration: none;
    }

    .sbmt-emp-btn {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: bold;
      height: 5vh;
      width: 10vw;
      margin-left: 19vh;
      margin-top: 1vh;
      background-color: #38598b;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
  }
}
